
.highlight {
  background-color: rgba(51, 122, 183, 0.31) !important;
}

            .tamanho {
                height: 20%;
            }

            .dropdown-menu {
            	    padding: 0px 0 !important;
            	}
            	

         
